@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

ul{
    list-style: none;
}

header{
    padding-top: 32px;
    height:calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #01F6FF 0%, #F222C4 45%, #9F58EE 87%);

    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover{
    transform: scale(1.1);
}

header img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 387px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;

    margin-top: 32px;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #01F6FF 0%, #F222C4 45%, #9F58EE 87%);
    padding-top: 4px;
    border-radius: 10px;
    box-shadow: 6px 4px 20px 2px #16141a;
    opacity: 0.98;
}

section div{
    background-color: #1a1720;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(0.95) !important;
}

.games-list img{
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    border-radius: 50%;
    width: 70px;
    border:  1px solid #2e2a38;
}

/*ANIMACAO*/

header div{
    animation: fromTop .7s .2s backwards;
}

main section{
    animation: fromBottom .7s backwards;
}

ul li{
    animation: fromLeft 2.2s backwards;
}



main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .3s;
}

main section:nth-child(3){
    animation-delay: .6s;
}

@keyframes fromTop {
    from{
        opacity: 0;        
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fromBottom{
    from{
        opacity: 0;        
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromLeft{
    from{
        opacity: 0;        
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/*SWIPER*/

section{
    overflow: hidden;
}

section ul{
    flex-wrap: nowrap;
    gap: 0;
}

@media (max-width: 395px){
    section ul{
        gap: 6px;
    }
} 